body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.home-header {
	background-color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
}

.home-header img {
	padding: 10px;
	max-width: 60%;
}

.hero-carousel img {
	width: 100%;
}

nav ul {
	margin: 0;
	padding:0;
}

nav ul li {
	display: inline-block;

}

nav li {
	padding: 10px;
}

.main-navbar {
	background-color: #e1e2e1;
	font-weight: bold;

}

.main-navbar a {
	color: #0067a1;
}

.main-navbar .nav-on a {
	color: #0195d3;
	text-decoration: none;
}

.burger {
	width:35px;
	display: none;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
}

.burger div {
	height: 3px;
	background-color: #0067a1;
	margin: 6px 0;
}

@media (max-width: 575px) {
	.main-navbar nav {
		background-color: #e1e2e1;
		position: absolute;
		top:145px;
		left: calc(-100% - 15px);
		width: calc(100% + 15px);
		transition:transform 0.4s;
		z-index: 1;
	}

	.main-navbar nav ul li {
		display: block;
		font-size: 20px;
		border-top: 1px solid #ffffff;
	}


	.burger {
		display: block;
		float: right;
	}

	.boxes .row {
		margin: 0;
	}
	
}

.main-navbar nav.open {
		transform:translateX(100%);
	}

.top-content {
	padding-top:30px;
	padding-bottom: 15px;
	
}

.top-content h1 {
	text-align:center;
	padding-bottom: 30px;
	color: #0067a1;
}

.top-content blockquote {
	text-align: center;
	font-weight: 600;
	padding: 10px;
	width: 75%;
	margin: 0 auto;
	font-size: 16px;
	color: #0067a1;
}

.publications h1 {
	text-align: left;
}

.boxes {
	padding-top: 15px;
}

.boxes .row {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.boxes h2 {
	color: #ffffff;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80%;
	padding-left: 50px;
	padding-bottom: 50px;
}

.sheep {
	width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    filter: brightness(90%);
    padding-top: 90%;
    margin-bottom: 10px;
    transition: background-size 1s;
}

.sheep:hover {
	background-size: 120%;
}

.sheep-1 {
	background-image: url(../img/box-1.jpg);
}

.sheep-2 {
	background-image: url(../img/box-2.jpg);
}

.sheep-3 {
	background-image: url(../img/box-3.jpg);
}

.sheep-4 {
	background-image: url(../img/box-4.jpg);
}

.sheep-5 {
	background-image: url(../img/box-5.jpg);
}

.sheep-6 {
	background-image: url(../img/box-6.jpg);
}

.science {
	padding-top: 15px;
	padding-bottom: 30px;
}

.science h2 {
	font-size: 16px;
	text-align: left;
}

.science p {
	margin-bottom: 5px;
}

.science .author {
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 20px;
}

.science a {
    color: #0067a1;
}

.science .intro {
	padding-bottom: 10px;
}

.science .conf {
	font-weight: bold;
	font-style: italic;
}
  
.nav-link {
	padding-left: 0;
}

.science .nav-pills {
	padding-bottom: 10px;
}

.science .nav-pills h2 {
	font-size: 20px;
	padding: 0;
}

.nav-pills .nav-link:not(.active) {
    background-color: #ffffff;
    color: #0067a1;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #ffffff;
	color: #0195d3;
}

.nav-link h2:hover {
	color: #0195d3;
	text-decoration: underline solid;
  	transition: text-decoration 1s ease;
}

#v-pills-handbooks .btt {
	margin-top: 20px;
}

.btt {
	font-weight: bold;
}

footer {
	background-color: #e1e2e1;
	color: #0067a1;
	font-size: 12px;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	margin-top: 20px;
}


